*,p,h4,h5,h6,h3,h2,h1{
    margin: 0px;
    padding: 0px;
}

.my_navbar{
    padding: 0px 50px;
}
.nav-item{
    padding-right: 30px;
}
.inner_section1st-row{
    background-image: linear-gradient(to right,#015495,#19BDD3);
    padding: 60px 40px;
    color: white;
    font-weight: 300;
}

.icons-admin{
    font-size: 48px;
}


.section1-courses-heading{
    font-size: 18px;
    font-weight: 300;
}
.section1-courses-number{
    font-size: 30px;
    font-weight: 300;
}

.admin-dashboard-section2-card{
    background-color:#f6f7f8 ;
}

.inner_section2nd-row{
     
    padding: 20px 40px;
 
    font-weight: 300;
}

.admin-dashboard-button-2ndsec{
    background-color: #0f8fb8;
    border: none;
    padding: 5px 40px;
    border-radius: 5px;
    color: white;
    transition: all 0.5s;
}

.admin-dashboard-button-2ndsec:hover{
    background-color: #36aad1;
   transition: 0.5s ease-in-out;
}
.card-body{
    padding: 0px !important;
}
.profile-card-image-div{
    width: 120px;
    height: 120px;
    margin: 10px auto ;
    border-radius: 50%;
    overflow: hidden;
 
}
.profile-image-dashboard{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.profile-details-dashboard{
    text-align: center;
}
.profile-details-div-outer{
    padding: 20px 0px !important;
}
.profile-div-details-course{
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;;
}
.profile-details-card-inner{
    padding: 20px 45px;
    text-align: center;
}

.profile-div-notification-bar{
    padding: 20px 40px;
}

.section2-main-inner-sec-div{
    background: white;
padding: 0px 0px;
border: 1px solid #e2e2e2;
}

.admin-dashboard-button-adduser{
    background-color: #0f8fb8;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    transition: all 0.5s;
}

.admin-dashboard-button-adduser:hover{
    background-color: #36aad1;
   transition: 0.5s ease-in-out;
}

.dashboard-table-div{
    height: 300px;
    overflow-y: scroll;
}