<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script> -->
          <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/dashboard.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://springstubbe.us/projects/demos/jquery-multiselect/scripts/index.js?1523890673"></script>
    <link rel="stylesheet" href="https://springstubbe.us/projects/demos/jquery-multiselect/styles/index.css?1518818712">
    <title>Admin Dashboard</title>
</head>

<body>
    <header>
        <section class="my_navbar">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">
                        <img src="../static/assets/imgs/Logo-Black.png" width="160px" alt="logo"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Courses</a>
                            </li>
                            <li class="nav-item logout">
                                <a class="nav-link logout-btn" href="#" >Logout</a>
                            </li>
                            <li class="nav-item login">
                                <a class="nav-link" href="{{url_for('login') }}" >login</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </header>
    <section class="adminDashSec1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="inner_section1st-row">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div
                                    class="firstdiv-inner-1st-content d-flex justify-content-evenly align-items-center">
                                    <div class="pr-4">
                                        <i class="fa fa-clock icons-admin"></i>
                                    </div>
                                    <div>

                                        <h4 class="p-0 m-0"> Welcome Back,<span id="admin-name">Admin!</span></h4>


                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <div>
                                    <p class="section1-courses-heading">
                                        Total Teachers
                                    </p>
                                    <p class="section1-courses-number">
                                        4
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12">
                                <div>
                                    <p class="section1-courses-heading">
                                        Total Students
                                    </p>
                                    <p class="section1-courses-number">
                                        8
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 2nd section -->
    <section class="admin-dashboard-section2-card">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="inner_section2nd-row">
                        <div class="row justify-content-between">
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <!-- <div class="p-2 d-flex justify-content-between align-items-center">
                                    <div class="pr-4">
                                        <h4> My Account </h4>
                                    </div>
                                    <div>

                                        <button class="admin-dashboard-button-2ndsec">
                                            View Account Details
                                        </button>


                                    </div>
                                </div> -->

                                <div class="section2-main-inner-sec-div mt-4 mb-2">
                                    <h4 class="mb-2">
                                        Teacher
                                    </h4>
                                    <div class="dashboard-table-div">
                                    <table class="table table-hover">
                                        <thead style="text-align: center;">
                                            <tr>
                                                <th scope="col"> Id</th>
                                                <th scope="col"> Name</th>
                                                <th scope="col"> Email</th>
                                                <th scope="col"> Registration Number</th>
                                                <th scope="col"> Gender</th>
                                            </tr>
                                        </thead>
                                        <tbody id="teacher-table" style="text-align: center;">
                                            <!-- <tr>
                                                <td>1</td>
                                                <td>Sophia Ajaz</td>
                                                <td>25</td>
                                                <td>03491332333</td>
                                                <td>Female</td>
                                                 
                                            </tr> -->
                                            

                                            

                                        </tbody>
                                    </table>
                                </div>
                                </div>



                                
                                <div class="section2-main-inner-sec-div mt-4">
                                    <h4 class="mb-2">
                                        Students
                                    </h4>
                                    <div class="dashboard-table-div">
                                    <table class="table table-hover">
                                        <thead style="text-align: center;">
                                            <tr>
                                                <th scope="col"> Id</th>
                                                <th scope="col"> Name</th>
                                                <th scope="col"> Email</th>
                                                <th scope="col"> Registration Number</th>
                                             
                                                <th scope="col"> Gender</th>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: center;" id="student-table">
                                            <!-- <tr>
                                                <td>1</td>
                                                <td>Ali</td>
                                                <td>18</td>
                                                <td>03491332333</td>
                                                <td>Male</td>
                                                 
                                            </tr>
                                          

                                             -->
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                                <div class="section2-main-inner-sec-div mt-4">
                                    <h4 class="mb-2">
                                       Courses
                                    </h4>
                                    <div class="dashboard-table-div">
                                    <table class="table table-hover">
                                        <thead style="text-align: center;">
                                            <tr>
                                                <th scope="col"> Id</th>
                                                <th scope="col"> Name</th>
                                                <th scope="col"> Description</th>
                                                <th scope="col"> Add Student</th>
                                             
                                               
                                            </tr>
                                        </thead>
                                        <tbody style="text-align: center;" id="course-table">
                                            <!-- <tr>
                                                <td>1</td>
                                                <td>Ali</td>
                                                <td>18</td>
                                                <td>03491332333</td>
                                                <td>Male</td>
                                                 
                                            </tr>
                                            
 


                                             -->
                                        </tbody>
                                    </table>
                                </div>
                                </div>

                                <!-- Modal Start -->
                                <!-- <div id="myModal" class="modal fade" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Modal Title</h5>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>This is a simple Bootstrap modal. Click the "Cancel button", "cross icon" or "dark gray area" to close or hide the modal.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-primary">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <Select id="student-select" multiple  data-courseid="">
                                             
                                          </Select>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                          <button type="button" class="btn btn-primary" id="save-changes-for-modal">Save changes</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                <!-- Modal End -->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="profile-card-admin-dashboard">
                                    <div class="card">
                                        <div class="profile-card-image-div">
                                            <img class="profile-image-dashboard"
                                                src="../static/assets/images/profile-image.jpg" />

                                        </div>
                                        <div class="profile-details-dashboard">
                                            <h4 class="p-0 m-0" id="admin-user"> Admin </h4>
                                            <p class="text-muted">
                                                Karachi - Pakistan
                                            </p>
                                            <a href="#">
                                                User Settings
                                            </a>
                                        </div>
                                        <div class="card-body profile-details-div-outer">
                                            <div class="profile-div-details-course d-flex justify-content-center">
                                                <div class="profile-details-card-inner"
                                                    style="border-right: 1px solid #cfcfcf;">

                                                    <h4>4</h4>
                                                    <p class="text-muted"> Total Teachers</p>
                                                </div>
                                                <div class="profile-details-card-inner">
                                                    <h4>8</h4>
                                                    <p class="text-muted"> Total Students</p>
                                                </div>
                                            </div>

                                            <div class="profile-div-notification-bar">
                                                <h4>
                                                    Register Users
                                                </h4>
                                                <br/>
                                                 <div class="d-flex">
                                                     <div class="mr-4">
                                                     <a href="{{url_for('newregisterteacher') }}" target="_blank">  <button class="admin-dashboard-button-adduser">
                                                            Add New Teacher
                                                        </button>
                                                    </a> 
                                                     </div>
                                                     <div class="ml-4">
                                                        <a href="{{url_for('newregisterstudent') }}" target="_blank">     <button class="admin-dashboard-button-adduser">
                                                            Add New Student
                                                        </button>
                                                        </a>
                                                     </div>
                                                 </div>
                                            </div>

                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="{{ url_for('static',filename='js/admin-dashboard.js') }}">
    </script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/logout.js') }}">

    </script>
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>

</html>